{% load material_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="REM6F9SN-sn5UX5AibUXsUGj8GZ3E1myPaRbneFFn6k" />
   {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="description" content="TechNovate is central India's largest techno-cultural fest organized by students of IIIT-Naya Raipur. It is national level encompassment of Technical and Cultural events. Last year it was attended by more than 500 students from different colleges in India. This time we are back with more challenges and ideas that will change world. With wide number of events encompassing various recent domains of engineering is great platform to demonstrate your talent."/>
    <meta name="keywords" content="technovate, tecnical Festival, IIIT-NR ,tech fest"/>
    <meta name="email" content="technovate@iiitnr.ac.in">
    <meta name="author" content="Web Development Team IIIT-NR">
    <link rel="icon" href="{% static "T18.png"%}">
    <!--<link rel="icon" href="{% static "tv_icon.png"%}">-->

    <!--open grap meta data-->
    <meta property="og:image" content="{% static 'preview_op_technovate2018.png'%}"/>
    <meta property="og:title" content="Technovate 2k18 IIIT-NR"/>
    <meta property="og:url" content="http://technovat-iiitnr.org"/>
    <meta property="og:description" content="TechNovate is cenrtral India's largest techno-cultural fest organized by students of IIIT-Naya Raipur. "/>
    <meta property="og:type" content="website"/>
    <meta property="og:author" content="Web Development Team IIIT-NR"/>
    <title>Technovate 2018 | Central India's Largest Techno-Cultural Festival</title>
    <style>
      #celeb{
      display: none;
   }
    #loader {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 200px;
      height: 200px;

      margin-top: -100px;
      margin-left: -100px;
    }
    </style>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/temp.css"%}">
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 --><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
 <script src = "{% static 'main.js'%}"></script>
     <script>

      $(window).on('load',function () {
        //$('#loader').fadeOut("slow");
        $('#myT').fadeIn(5000);
      });
    </script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
   <style>
   #navbar-logo-official{
    margin-left: 10px;
    width: auto;
    height: 65px;
   }
   </style>
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
   <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
             $(".button-collapse").sideNav();
       });
       $(document).ready(function(){
          $('#joinID').click(function(){
            $('.button-collapse').sideNav('hide');
          });
       });
         $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal-trigger').leanModal();
      });
        $(document).ready(function() {
      $('select').material_select();
    });

      $(document).ready(function(){
          $('.carousel.carousel-slider').carousel({full_width: true});
      });
      $(document).ready(function(){
          $('.carousel').carousel();
      });
      $(document).ready(function(){
           $('fixed-action-btn').openFAB();
      });
      $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
      });
    $('.close').click(function(){
          $('#accomodation-details').hide("slow");
          $('#privacy-disclaimer').hide("slow");
          $('#tevents').show("slow");
          $('#sponsors').hide("slow");
          $('#title').hide("slow");
          $('#aboutus').hide("slow");
          $('.button-collapse').sideNav('hide');
          $('#tech-team').hide("slow");
          $('#workshop').hide("slow");
          $('#GameZone').hide("slow");

        });
    </script>
     <script src="{% static 'technovate.js'%}"></script>
     <style type="text/css">
       #iiitnr{
        height: auto;
        width: 320px;
       }
       #top{
         z-index: 999px;

       }
     </style>
    <script>
        $(document).ready(function() {
    $('select').material_select();
});
    </script>
</head>

<body>
  <script>
  function copyTo(element) {
    var $temp = $("<input>");
   $("body").append($temp);
   $temp.val($(element).text()).select();
   document.execCommand("copy");
   $temp.remove();
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1819830324960691',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>

<div class="navbar">
  <nav class="transparent">
    <div class="nav-wrapper">
      <a class="brand-logo hide-on-med-and-down left indexlink" href="#"><img class="brand-logo" id ="navbar-logo-official" src="{% static 'logo_mini.png' %}"></a>
    <!--  <a class="barnd-logo" id="indexlink" href="#">" CREATE INNOVATE TECHNOVATE"</a>-->
      <a href="#" id="btnc" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="homelink" href="{% url 'index' %}">HOME</a></li>
          <li><a class="techeventslink" href="{% url 'events' %}">EVENTS</a></li>
          {% if request.user.is_authenticated %}
            <li><a class="dashboardlink" href="{% url 'interface' %}">DASHBOARD</a></li>
            <li><a href="{% url 'logout' %}"><i class="material-icons ">power_settings_new</i></a></li>
          {% endif %}
        </ul>
        </div>
    </nav>
    <ul id="mobile-demo" class="side-nav">
      <li class="logo"><a href="#" class="indexlink brand-logo">
          <img src="{% static 'close.png'%}">
        </a></li><br><br><li><div class="divider"></div></li>
        <li><a href="#" class="homelink"><i class="material-icons">home</i>HOME</a></li>
        <li><a class="techeventslink"><i class="material-icons">event</i>EVENTS</a></li>
          {% if request.user.is_authenticated %}
        <li><a class="dashboardlink" href="{% url 'interface' %}"><i class="material-icons">dashboard</i>DASHBOARD</a></li>
          <li><a href="{% url 'logout' %}"><i class="material-icons ">power_settings_new</i>LOGOUT</a></li>
          {% endif %}
        </ul>
  </div>
 
<div id="myT">
      <div id="title">
       <div class="container">
          <div class="row">
              <h2>Enter your personal details and all the team members details- {{request.user.username}}</h2>
              <h4>You can choose multiple events.</h4>
            <div class="col s6">
                <h4>Add member</h4>
                <form method="post">
                 {% csrf_token %}
                 	{% form form=form %}{% endform %}

                    <button class="btn waves-effect waves-light teal darken-2" type="submit" name="action">
                        Add
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
              <div class="col s6">
                <h4>Members List</h4><br>
                {% if members %}
                {% for m in members %}
                    <h6>Name: {{m.name}}</h6>
                    <h6>Events: {{m.event}}</h6>
                    <h6>Accomodation: {{m.accomodation}}</h6>
                    <h6>Subtotal: {{m.total}}</h6>
                  <hr>
                {% endfor %}
                {% else %}
                    <p>No members listed.</p>
                {% endif %}
                <h5>Grand total: {{profile.gtotal}}</h5>
                <h5>Status: {%if profile.status%}Paid{%else%}Unpaid{%endif%}</h5>
                  {% if not profile.status %}
                  <h6>Our team will contact you soon.</h6>
                  {% endif %}
            </div>
           </div>
           <div class="row">
           <h4>Payment Details: </h4>
               <p>1. Pay 250/- per person and attend all events, workshops, session and celeb night.</p>
               <p>2. Pay 500/- per person and attend all events, workshop, sessions and celeb night with 2 days accomodation.</p>
           </div>
       </div>
      </div>
    
     
    </div>
    <script>
$(function () {
    // alert(h_month);
    $("#id_accomodation").focusout(function () {
        var total;
        if ($("#id_accomodation").is(":checked")) {
            total=500;
            $("#id_total").val(total);
        } else {
            total = 250;
            $("#id_total").val(total);
        }
    })
});
</script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js'></script>
</body>
</html>
